// Here you can add other styles
.card-container{
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.logos-wrapper img{
    width: 250px;
    height: 250px;
    object-fit:fill;
    padding: 20px;
}
.head-font{
    font-size: 2rem !important;
}
.logos-wrapper img{
    object-fit: fill;
}
.right img{
    padding: 20px;
    height: 500px;
    width: 550px;
}
.container{
    max-width: 1750px;
}
.center{
    text-align: center;
    justify-content: center;
    font-size: 2rem !important;
    font-weight: 400;

}

@media (max-width: 480px) {
    .right img{
        height: 300px;        
    }
    .left button{
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}